

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    
  }
  
  .container a {
    order: 2;
  }

anticon anticon-close{
    padding-left: 100px;
  }
  
  

  
  