.slick-thumb{

    bottom: -4px;
   padding-right: 100%;
}


.slick-thumb > li{

    width: 100px;
    height: 100%;
 
    
}


.abtn{

    width: 100%;
    height:100%;
    
}

.abtnImg{
    
    width: 100%;
    height:100%;
    border-radius: 20%;
}

