.title{
    margin-left: 10%;
    margin-top: 4%;
    font-weight: bold;
    font-size: 38px;
}

.BtnImgBox{
    display: flex;
    margin: 20px 0;
}

.BtnImg{
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 150px;
    border: none;
    
}


.Description{
    margin-left: 10%;
    margin-top: 2%;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
}

.img {
    position: relative;
    
    text-align: center;
    margin-left: 10%;
    width: 50%;
    height: 50%;
    object-fit: cover;
}

