
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}


.CarouselBoxImg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 30px;
  width: 80%;
  height: 80%;
  text-align: center;
}
.CarouselBox {
  margin-top: 20px;
  padding: 0 14vh;
  padding-bottom: 6%;
  text-align: center;
}


button::after{
  background-color: gray;
  padding:0 33.3%;
  padding-top: 5px;
  height: 3px;
  width: auto;
  margin-right: 100%;
  inset:-4px;
}





.CarouselBoxImgText{
    position: absolute;
    padding: 0 0 10px;
    font-size: x-large;
    text-align: center;
}

@media screen and (max-width: 768px) {

  .CarouselBox {
   
    margin-bottom: 6%;
    padding: 0 9.5%;
    display: flex;
    justify-content: center;
    padding-bottom: 8%;
  }
  

button::after{
    display: none;

}

.slick-next:before {
  display: none !important;
}




}