.CarouselBox{
    
    margin-bottom: 5%;
    padding:0 33.3%;
    
    
}
button::after{
  background-color: gray;
  padding:0 33.3%;
  padding-top: 5px;
  height: 3px;
  width: auto;
  margin-right: 100%;
  inset:-4px;
}



.CarouselBoxImg{

    position: relative;
    /*padding: 0px 350px;*/
    margin-top: 30px;
    
}

.CarouselBoxImgText{
    position: absolute;
    padding: 0 0 10px;
}

@media screen and (max-width: 768px) {

  .CarouselBox {
    margin: 0 auto;
    margin-bottom: 6%;
    padding: 0 23%;
    display: flex;
    justify-content: center;
  }
  






}