
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}


.CarouselBox{
    
   margin-top: 20px;
    padding:0 12%;
    padding-bottom: 6%;

}

button::after{
  background-color: gray;
  padding:0 33.3%;
  padding-top: 5px;
  height: 3px;
  width: auto;
  margin-right: 100%;
  inset:-4px;
}



.CarouselBoxImg{

    position: relative;
    /*padding: 0px 350px;*/
    margin-top: 30px;
    width: 80%;
    height: 80%;
    text-align: center;
    
}

.CarouselBoxImgText{
    position: absolute;
    padding: 0 0 10px;
    font-size: x-large;
    text-align: center;
}

@media screen and (max-width: 768px) {

  .CarouselBox {
   
    margin-bottom: 6%;
    padding: 0 9.5%;
    display: flex;
    justify-content: center;
    padding-bottom: 8%;
  }
  

button::after{
    display: none;

}

.slick-next:before {
  display: none !important;
}




}