:root{

  overflow-x: hidden;
}

html{


  background-color: black;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.container{

  max-width: 100%;

}

.ant-drawer-wrapper-body{
  color: #fff;
  height: calc(100vh - 55px);
}

.ant-drawer-wrapper-body .ant-drawer-body{

  padding-top: 1%;
  padding-bottom: 1%;

}


.slick-dots{
  position:relative;
  z-index: 4;

}

.react-search-field-button{
  margin-top: 0;
}

.Swicth{

  position: fixed;
  z-index: 999999;;
  margin-left: 97%;
  top:5px;

}

a{


  
  display:block;
  
  
  
}



.OOPP svg{

  height: 50%;
  width: 50%;
  margin-left: 50%;
  padding: 0;

}

.Formelement{

  display: flex;
  justify-content: space-between;


}

.SignBtnBox{

  width: 30%;
  vertical-align:center;
  display: flex;
  margin: 0;
  padding: 0;


}
.SignBtn{


  margin: 0;
  padding: 0;


}

.SignUp{
  display: flex;
  vertical-align:baseline;
  align-items: center;

}

.ant-collapse-header {

  color: #fff !important;

}


.ant-drawer .ant-drawer-header-title{


  display: block;


}

.ant-drawer .ant-drawer-header {

  padding-top: 5%;
}

.ant-drawer-close{

  margin-top: 5%;


}